body {
  font-family: Arial, sans-serif;
}

.my-editor {
  text-align: center;
}

input[type="text"] {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}



.editorContainer {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Custom CSS for block styles */
.code-block-style {
  background-color: yellow;
  color: blue;
  padding: 2px;
}

.header {
  font-size: 40px;
  font-weight: bold;
}
